
<!-- <button routerLink="/insertCliente">Insertar Cliente</button><br> -->


<div class="contenedor">
  <div class="form">
    <app-insert-cliente></app-insert-cliente>
  </div>

  <div class="table">
    <!-- <button (click)="actualizarListaClientes()">Actualizar tabla</button> -->
    <table border="1">
      <th>Id</th>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Saldo</th>
      <th>Status</th>
      <th>Editar</th>
      <th>Cambiar Status</th>
      <th>Eliminar</th>
      <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.saldo }}</td>
          <td [ngStyle]="getColorBackground(cliente.status)">{{ cliente.status }}</td>
          <td><button [routerLink]="['/actualizarCliente', cliente.id]">Actualizar cliente</button></td>
          <td><button (click)="cambiarStatus(cliente.id, cliente.status)">Cambiar status</button></td>
          <td><button (click)="eliminarCliente(cliente.id)">Eliminar</button></td>
      </tr>
    </table>
  </div>
</div>  

