.contenedor {
    display: flex;
    align-items: center;
}

.form {
    
    padding: 15px;
    width: 350px; /* Opcional: ajusta el ancho del formulario según tus necesidades */
    max-width: 400px; /* Opcional: limita el ancho máximo del formulario */
    margin-bottom: 40px; /* Espacio entre el formulario y la tabla */
  }
  
  .table {
    /* width: 700px; 
    max-width: 800px; */ 
    background-color: lightblue;
  }