<h1>Actualizar Cliente</h1>
<button routerLink="/clientes">Volver a la lista de clientes</button><br>
<hr>
    <form (submit)="onSubmit()">
        <label for="apellido">Apellido:</label><br>
        <input type="text" id="apellido" name="apellido" [(ngModel)]="cliente.apellido" required><br><br>

        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="cliente.nombre" required><br><br>
        
        <label for="saldo">Saldo:</label><br>
        <input type="number" id="saldo" name="saldo" [(ngModel)]="cliente.saldo" required><br><br>
        
        <input type="hidden" id="id" name="id" [(ngModel)]="cliente.id">

        <input type="submit" value="Guardar">
    </form>
