<h1>Sucursales</h1>
<div id="table">
    <table border="1" >
        <th>Id</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Cant. Empleados</th>
        <tr *ngFor="let suc of sucursales">
              <td>{{ suc.Id_Suc }}</td>
              <td>{{ suc.Nombre_Suc }}</td>
              <td>{{ suc.Dir_Suc }}</td>
              <td>{{ suc.Cant_Emp_Suc }}</td>
        </tr>
    </table>
</div>
    

