<h2>Ventas</h2>
<div class="contenedor">
    <div class="tablaVenta">
        <table border="1">
            <th>Meses</th>
            <th>Sucursal-Santa Fe</th>
            <th>Sucursal-Rosario</th>
            <th>Sucursal-Santo Tome</th>
            <th>Sucursal-Rafaela</th>
            <th>Sucursal-Parana</th>
            
            <tr *ngFor="let ven of ventas">
                <td>{{ ven.mes }}</td>
                <td>{{ ven.Suc1 }}</td>
                <td>{{ ven.Suc2 }}</td>
                <td>{{ ven.Suc3 }}</td>
                <td>{{ ven.Suc4 }}</td>
                <td>{{ ven.Suc5 }}</td>
            </tr>
        </table>
    </div>

    <div class="tablaCantidad">
        <table border="1" *ngIf="ventasAnio">
            <th>Sucursal</th>
            <th>Ventas Anuales por Sucursal</th>
            <tr *ngFor="let sucursal of getSucursales(ventasAnio[0])">
                <td>{{ sucursal.nombre }}</td>
                <td>{{ sucursal.total }}</td>
            </tr>
        </table>
        <div class="tablaTotal">
            <table border="1" *ngIf="totalAnual">
                <th>Ventas Anuales Totales</th>
                <tr *ngFor="let sucursal of getTotal(totalAnual[0])">
                    <td>{{ sucursal.total }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="consulta">
        <h3 id="titulo">Ingrese el numero de Sucursal</h3>
        <form (submit)="consultarVentas()">
            <label for="sucursal">Seleccione sucursal</label><br>
            <select name="sucursal" id="sucursal" [(ngModel)]="sucursalSeleccionada">
                <option value="Suc1">Sucursal 1 - Santa Fe</option>
                <option value="Suc2">Sucursal 2 - Rosario</option>
                <option value="Suc3">Sucursal 3 - Santo Tome</option>
                <option value="Suc4">Sucursal 4 - Rafaela</option>
                <option value="Suc5">Sucursal 5 - Parana</option>
            </select><br><br>

            <label for="mes1">Desde: </label>
            <select name="mes1" id="mes1" [(ngModel)]="mesDesde">
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select><br><br>

            <label for="mes2">Hasta: </label>
            <select name="mes2" id="mes2" [(ngModel)]="mesHasta">
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select><br><br>

            <input type="submit" value="Consulta">
        </form>

        <div *ngIf="errorConsulta">
            <p>{{ errorConsulta }}</p>
          </div>

        <div *ngIf="resultadoConsulta">
            <h4>Resultado:</h4>
            <p>Total de ventas desde {{ getNombreMes(mesDesde) }} hasta {{ getNombreMes(mesHasta) }}: {{ resultadoConsulta }}</p>
        </div>

        
    </div>

    
    
</div>

<div class="insert">
    <h3 id="titulo">Insertar una venta</h3>
    <form (submit)="insertarVenta()">
        <input type="radio" name="operacion" value="suma" [(ngModel)]="operacion"> Suma
        <input type="radio" name="operacion" value="resta" [(ngModel)]="operacion"> Resta <br><br>

        <label for="sucursal">Seleccione sucursal</label><br>
        <select name="sucursal" id="sucursal" [(ngModel)]="sucursal">
            <option value="Suc1">Sucursal 1 - Santa Fe</option>
            <option value="Suc2">Sucursal 2 - Rosario</option>
            <option value="Suc3">Sucursal 3 - Santo Tome</option>
            <option value="Suc4">Sucursal 4 - Rafaela</option>
            <option value="Suc5">Sucursal 5 - Parana</option>
        </select><br><br>

        <label for="mes">Seleccione mes: </label><br>
        <select name="mes" id="mes" [(ngModel)]="mes">
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
        </select><br><br>

        <label for="monto">Monto: </label><br>
        <input type="number" id="monto" name="monto" [(ngModel)]="monto"><br><br>

        <input type="submit" value="Insertar">
    </form>  
</div>

