.contenedor {
    display: flex;
    padding: 10px;
    margin-top: -20px;
}

.tablaVenta {
    /* border: solid black;
    margin: 3px; */
    padding-right: 10px;
}

.tablaCantidad {
    /* border: solid black;
    margin: 3px; */
    padding-left: 25px;
}

.tablaTotal {
    /* border: solid black;
    margin: 3px; */
    padding-top: 25px;
}

.consulta {
    border: solid black;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 35px;
    background-color: lightblue;
}

#titulo {
    margin-top: 0px;
}

table {
    background-color: lightblue;
}

.insert {
    border: solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 35px;
    margin-top: 15px;
    background-color: lightblue;
    max-width: 300px;
}