body {
    font-family: Calibri;
}

nav a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    background-color: #612285;
    color: #fdfdfd;
    border-radius: 4px;
    margin-left: 5px;
}

nav a:hover {
    color: white;
    background-color: #42545C;
}

nav a:active {
    background-color: black;
}

:host {
    display: block;
    background-color: rgb(94, 154, 245);
   }

.contenedor {
    height: 840px;
}
