<div class="contenedor">
    <h1>Inserte un cliente</h1>
    <form #insertForm (submit)="onSubmit()">
        <label for="apellido">Apellido:</label><br>
        <input type="text" id="apellido" name="apellido" [ngModel]="cliente.apellido" (ngModelChange)="cliente.apellido = $event" required><br><br>

        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" [ngModel]="cliente.nombre" (ngModelChange)="cliente.nombre = $event" required><br><br>
        
        <label for="saldo">Saldo:</label><br>
        <input type="number" id="saldo" name="saldo" [(ngModel)]="cliente.saldo" required><br><br>

        <label for="status">Status:</label><br>
        <input type="number" id="status" name="status" [(ngModel)]="cliente.status" readonly><br><br>
        
        <input type="submit" value="Guardar">
    </form>
</div>
