<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Pagina Inicio</h1>
    
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit consectetur, eaque dolore nemo quod sapiente, iste vel amet asperiores 
        omnis eius ut quaerat reiciendis molestias, sunt quae iure quidem placeat! Nobis dignissimos iste nemo quasi necessitatibus illum a 
        suscipit animi omnis esse aliquid vel molestiae, consectetur quibusdam nihil consequatur minima, est unde earum. Cumque itaque aspernatur 
        repudiandae, optio velit commodi cum earum facere, sed atque incidunt ullam. Officiis quibusdam quasi incidunt qui, explicabo soluta 
        architecto dolor ullam vero accusamus eos maiores voluptates vitae laboriosam quis, eius aliquam rem earum dignissimos. Reprehenderit 
        quisquam quidem accusantium aspernatur similique alias deserunt adipisci, quis cum facere fuga ex, at perferendis fugiat ducimus recusandae 
        unde iste rem. Dicta cupiditate repellendus et quisquam doloribus inventore consectetur laudantium reiciendis, possimus molestiae sunt at. 
        Voluptatibus praesentium, rerum earum numquam harum molestias culpa vel nam omnis sint in aliquid delectus voluptatem molestiae. 
        Incidunt ad ut unde fugiat quo accusantium aut similique, ullam totam animi at aliquid obcaecati magni veniam quidem nobis repudiandae 
        dolorem in cum illum, quos deserunt? Amet doloremque, suscipit eligendi reprehenderit magnam corporis est! Atque eveniet dolorem minima 
        porro quos voluptatibus ex ratione facere, maiores soluta beatae inventore in officiis voluptas, aliquid cupiditate odit, facilis quibusdam nostrum.</p>
    
    
    <!-- <span>{{ fecha | date:'dd/MM/yyyy'}}</span><br> -->
    <span>{{ fecha | date:'shortTime'}}</span>
</body>
</html>


